    @-webkit-keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: .1;
        }
        100% {
            opacity: 1;
        };
    }

    @keyframes pulse {
        0% {
        opacity: 1;
        }
        50% {
            opacity: .1;
        }
        100% {
            opacity: 1;
        };
    }
    body {
        margin: 0;
        padding: 0;
    }
    #map {
        position: absolute;
        top: 12%;
        //left: 30%;
        width: 100%;
    }
    .marker {
        background-image: url('../witzmap-icon.png');
        background-size: cover;
        width: 69px;
        height: 50px;
        left:13px;
        cursor: pointer;
    }
    .tint {
        background-color:red;
        border-radius: 50%;
        width: 45px;
        height: 42px;
        background: yellow;
        left:7px;
        cursor: pointer;
        -webkit-animation: pulse 1s linear infinite;
	    animation: pulse 1s linear infinite;
    }
    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
